[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-restx = "*"
requests = "*"
Flask = "*"
Flask-Cors = "*"
gunicorn = "*"
matplotlib = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.10"
